/*<meta />*/

p.MyStyle
{
	margin: 0px;
}

p.new-content
{
	background-color: beige;
}

p.new-content-indent1
{
	background-color: beige;
	margin-left: 30pt;
}

p.back-to-top
{
	position: fixed;
	bottom: 0;
	right: 1%;
	top: 90%;
	display: block;
	height: 3.5em;
	width: 4.5em;
	cursor: pointer;
	z-index: 99;
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/Resources/Images/top.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}

img
{
	border-left-style: solid;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

img.inline-icon
{
	border: none;
}

img.block
{
	display: block;
}

img.thumbnail
{
	align: left;
	display: block;
	max-width: 850px;
	height: auto;
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 120px;
	mc-thumbnail-max-width: auto;
	margin-top: 8pt;
	margin-bottom: 8pt;
}

* a.Popup
{
	
}

p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

h1
{
	color: #000000;
	font-family: Arial;
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: 3pt;
	margin-top: 12pt;
	mc-heading-format: 'inherit';
	mc-toc-depth: inherit;
}

h2
{
	color: #000000;
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
	margin-top: 12pt;
	margin-bottom: 3pt;
}

h3
{
	color: #000000;
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	margin-top: 12pt;
	margin-left: 0;
	margin-bottom: 3pt;
}

h4
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 12pt;
	margin-left: 30pt;
	font-weight: bold;
	font-style: normal;
	mc-next-tag: p;
	mc-next-class: indent1;
	margin-bottom: 3pt;
}

body.title
{
	
}

ul
{
	font-size: 10pt;
	font-family: Arial;
}

ol,
dl
{
	margin-left: 1em;
}

h5
{
	margin-bottom: 3pt;
}

h6
{
	margin-bottom: 3pt;
}

li
{
	font-size: 10pt;
	font-family: Arial;
	display: list-item;
}

MadCap|breadcrumbsProxy
{
	
}

table
{
	width: 90%;
}

td
{
	font-size: 10pt;
	font-family: Arial;
}

body
{
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: Arial;
	line-height: normal;
	font-size: 10pt;
}

MadCap|topicToolbarProxy
{
	text-align: right;
	float: right;
}

p.TOC1
{
	margin-left: 0in;
	mc-pagenum-display: none;
}

p.TOC3
{
	font-style: italic;
	margin-left: 1in;
}

p.TOC2
{
	margin-left: .5in;
}

p.TOC4
{
	margin-left: 1.5in;
	font-size: 10pt;
}

p.workbooknotes
{
	text-transform: uppercase;
	font-family: 'MV Boli';
}

h1.minibook
{
	font-size: 16pt;
	page-break-after: avoid;
}

h2.minibook
{
	font-size: 14pt;
	page-break-after: avoid;
}

h3.minibook
{
	page-break-after: avoid;
}

p.h0
{
	font-style: inherit;
	font-weight: bold;
	font-size: 16pt;
	mc-heading-level: 1;
}

MadCap|tocProxy
{
	mc-auto-number-format: 'CH: {n} - {page} ';
}

MadCap|xref.TOCPageNumber
{
	
}

@media print
{
	h1
	{
		font-family: 'Arial Narrow';
		margin-top: 0;
		vertical-align: middle;
		margin-bottom: 0;
		color: #000000;
		font-size: 16pt;
		mc-heading-level: 2;
	}

	h3
	{
		margin-left: 0;
		margin-top: 10pt;
		mc-heading-level: 4;
	}

	h4
	{
		margin-bottom: 3pt;
		font-weight: bold;
		font-style: normal;
		margin-top: 10pt;
		margin-left: 30pt;
		mc-next-tag: p;
		mc-next-class: indent1;
		mc-heading-level: 5;
	}

	li.notes
	{
		padding-bottom: .3pt;
		padding-left: 2.5em;
	}

	li.qrg
	{
		padding-left: 2.5;
	}

	li.tutorial
	{
		padding-left: 2.5;
	}

	li.warning
	{
		
	}

	ul
	{
		margin-left: 25px;
		line-height: 0pt;
	}

	ol
	{
		margin-left: 25px;
	}

	table
	{
		width: 100%;
	}

	.notes
	{
		padding-left: 2.5em;
	}

	.important
	{
		padding-left: 2.5em;
	}

	.caution
	{
		padding-left: 2.5em;
	}

	.importantemphasis
	{
		padding-left: 2.5em;
	}

	li.help
	{
		padding-left: 2.5;
	}

	li.caution
	{
		padding-left: 2.5em;
	}

	li.important
	{
		padding-left: 2.5em;
	}

	li.importantemphasis
	{
		padding-left: 2.5em;
	}

	img.in-table-mini
	{
		max-height: 60%;
		max-width: 60%;
	}

	img.small-mini
	{
		max-height: 50%;
		max-width: 50%;
	}

	h1.minibook
	{
		color: #000000;
		font-family: Arial;
	}

	h2.minibook
	{
		
	}

	h3.minibook
	{
		
	}

	p.TOC1
	{
		margin-left: 0in;
		font-size: 9pt;
		margin-top: 0;
		mc-pagenum-display: none;
	}

	p.TOC2
	{
		margin-left: .25in;
		font-size: 9pt;
		margin-top: 0;
	}

	p.TOC3
	{
		margin-left: .5in;
		font-style: normal;
		font-size: 9pt;
		margin-top: 0;
	}

	h2
	{
		font-size: 14pt;
		mc_heading-level: 3;
	}

	p.TOC4
	{
		margin-left: .75in;
		font-size: 9pt;
		margin-top: 0;
	}

	p.h0
	{
		mc_auto-number: ;
		mc-pagenum-display: none;
	}

	p.TOC5
	{
		font-size: 9pt;
		margin-top: 0;
	}

	MadCap|tocProxy
	{
		line-height: 9pt;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 0px;
	}

	MadCap|xref.TOCPageNumber
	{
		mc-auto-number-format: 'CH: {n} - ';
	}
}

p.QRGFooter
{
	font-family: Arial;
	font-size: 10pt;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
}

p.indent1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 30pt;
}

p.indent2
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	margin-left: 60pt;
}

li.notes
{
	list-style-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_note.gif');
	font-size: 10pt;
	line-height: 16px;
	font-family: Arial;
	list-style-type: inherit;
	padding-bottom: .4pt;
	mc-auto-number-format: '{b}Note: {/b}';
}

/*
li.notes::before
{
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial;
	content: "Note: ";
}
*/

li.notestest
{
	list-style-type: none;
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_note.gif');
	background-repeat: no-repeat;
	line-height: 16px;
	font-size: 10pt;
	font-family: Arial;
	padding-left: 3em;
	background-position: 0 -4em;
	mc-auto-number-format: '{b}Note: {/b}';
}

/*
li.notestest::before
{
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial;
	content: "Note: ";
}
*/

li.caution
{
	list-style-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_warning.gif');
	line-height: 16px;
	font-size: 10pt;
	font-family: Arial;
	list-style-type: inherit;
	mc-auto-number-format: '{b}Warning: {/b}';
}

/*
li.caution::before
{
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial;
	content: "Warning: ";
}
*/

li.important
{
	list-style-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_warning.gif');
	line-height: 16px;
	font-size: 10pt;
	font-family: Arial;
	list-style-type: inherit;
	mc-auto-number-format: '{b}{color red}IMPORTANT: {/color}{/b}';
}

/*
li.important::before
{
	font-size: 10pt;
	font-weight: bold;
	color: red;
	font-family: Arial;
	content: "IMPORTANT: ";
}
*/

li.importantemphasis
{
	list-style-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_warning.gif');
	font-size: 10pt;
	line-height: 16px;
	font-family: Arial;
	color: red;
	list-style-type: inherit;
	mc-auto-number-format: '{b}{color red}IMPORTANT: {/color}{/b}';
}

/*
li.importantemphasis::before
{
	font-size: 10pt;
	font-weight: bold;
	color: red;
	font-family: Arial;
	content: "IMPORTANT: ";
}
*/

/*li.bookmarks
{
	list-style-image: url('../Images/robohelp_10_arrow_bookmark.png');
	font-size: 10pt;
	font-family: Arial;
	list-style-type: inherit;
	margin-left: 5pt;
}
*/

/*
li.tutorial
{
	list-style-image: url('../Images/robohelp_10_icon_tutorial.gif');
	font-size: 10pt;
	font-family: Arial;
	list-style-type: inherit;
	margin-left: 5pt;
}

li.qrg
{
	list-style-image: url('../Images/robohelp_10_icon_qrg.gif');
	font-size: 10pt;
	font-family: Arial;
	list-style-type: inherit;
	margin-left: 5pt;
}

li.help
{
	list-style-image: url('../Images/robohelp_10_icon_help.gif');
	font-size: 10pt;
	font-family: Arial;
	list-style-type: inherit;
	margin-left: 5pt;
}
*/

li.bookmarks
{
	list-style-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_arrow_bookmark.png');
	list-style-type: none;
	padding-right: 2.5em;
	margin-left: 1pt;
}

li.tutorial
{
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_tutorial.gif');
	background-repeat: no-repeat;
	list-style-type: none;
	padding-left: 2em;
	padding-bottom: 3pt;
	margin-left: -18pt;
}

li.qrg
{
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_qrg.gif');
	background-repeat: no-repeat;
	list-style-type: none;
	padding-left: 2em;
	padding-bottom: 3pt;
	margin-left: -18pt;
}

li.help
{
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_help.gif');
	background-repeat: no-repeat;
	list-style-type: none;
	padding-left: 2em;
	padding-bottom: 3pt;
	margin-left: -18pt;
}

ul > li > ul
{
	list-style: circle;
}

ul > li > ul > li > ul
{
	list-style: disc;
}

ul > li > ul > li > ul > li > ul
{
	list-style: circle;
	/* todo: change to something else? */
}

/* list styles specifying second- and third-order lists should 
   alternate between numbering and lettering bullets */

ol.nested-alpha-alternating
{
	list-style: decimal;
}

ol.nested-alpha-alternating > li > ol
{
	list-style: lower-alpha;
}

ol.nested-alpha-alternating > li > ol > li > ol
{
	list-style: lower-roman;
}

p.table-text
{
	margin-bottom: 0.125em;
	margin-top: 0.125em;
}

p.table-text-subhead
{
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	margin-bottom: 0.125em;
	margin-top: 0.125em;
}

p.table-text-head
{
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	font-size: 10pt;
	margin-bottom: 0.125em;
	margin-top: 0.125em;
}

li.NewClass
{
	border-left-width: 2px;
	border-left-style: solid;
	border-right-width: 2px;
	border-right-style: solid;
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	display: block;
}

li.NewClass1
{
	border-left-width: 2px;
	border-left-style: solid;
	border-right-width: 2px;
	border-right-style: solid;
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	display: block;
}

li.NewClass12
{
	border-left-width: 2px;
	border-left-style: solid;
	border-right-width: 2px;
	border-right-style: solid;
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	display: block;
}

img.block
{
	border-left-style: none;
	border-left-width: 2px;
	border-right-style: none;
	border-right-width: 2px;
	border-top-style: none;
	border-top-width: 2px;
	border-bottom-style: none;
	border-bottom-width: 2px;
}

div.notesbox
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #E6F1FA;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	background-size: 26px;
	background-position-y: 9px;
	border-radius: 6px;
	font-size: 10.0pt;
	line-height: 125%;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	mc-auto-number-format: '{b}Note: {/b}';
	padding: 15px 60px;
	padding-left: 45px;
	margin-top: 8pt;
	margin-bottom: 8pt;
	mc-hyphenate: never;
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/Resources/Images/Icons/InformationIcon.png');
	border: solid 1px #007dba;
}

div.cautionbox
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-radius: 6px;
	font-size: 10.0pt;
	line-height: 125%;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	mc-auto-number-format: '{b}Warning: {/b}';
	padding: 15px 60px;
	padding-left: 45px;
	margin-top: 8pt;
	margin-bottom: 8pt;
	mc-hyphenate: never;
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/Resources/Images/Icons/CautionIcon.png');
	background-position-y: 11px;
	background-size: 26px;
	border: solid 1px #ecac00;
	background-color: #fff3c2;
}

div.warningbox
{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	background-size: 26px;
	background-position-y: 9px;
	border-radius: 6px;
	font-size: 10.0pt;
	line-height: 125%;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	mc-auto-number-format: '{b}Important: {/b}';
	padding: 15px 60px;
	padding-left: 45px;
	margin-top: 8pt;
	margin-bottom: 8pt;
	mc-hyphenate: never;
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/Resources/Images/Icons/WarningIcon.png');
	background-color: #FCE6E6;
	border: solid 1px #C61010;
}

div#skin-heading
{
	font-family: Arial;
	color: #000000;
	display: inline-block;
	position: relative;
	left: 20px;
	font-weight: normal;
	font-style: normal;
	font-size: 32px;
	top: 10px;
}

p.Title-bar
{
	padding-top: 18px;
	padding-left: 30px;
	color: #ffffff;
}

p.ui_element
{
	font-weight: bold;
}

.notes
{
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_note.gif');
	background-repeat: no-repeat;
	line-height: 16px;
	padding-left: 2em;
	display: block;
	padding-bottom: .2pt;
	mc-auto-number-format: '{b}Note: {/b}';
}

/*
.notes::before
{
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial;
	content: "Note: ";
}*/

.caution
{
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_warning.gif');
	background-repeat: no-repeat;
	line-height: 16px;
	padding-left: 2em;
	display: block;
	mc-auto-number-format: '{b}Warning: {/b}';
}

/*
.caution::before
{
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial;
	content: "Warning: ";
}*/

.important
{
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_warning.gif');
	background-repeat: no-repeat;
	line-height: 16px;
	padding-left: 2em;
	display: block;
	mc-auto-number-format: '{b}Important: {/b}';
}

/*
.important::before
{
	font-size: 10pt;
	font-weight: bold;
	color: red;
	font-family: Arial;
	content: "IMPORTANT: ";
}*/

.importantemphasis
{
	background-image: url('../../../../../qrg/trunk/flare_htm/ptc_ems_help/Content/robohelp_10_icon_warning.gif');
	background-repeat: no-repeat;
	line-height: 16px;
	padding-left: 2em;
	display: block;
	color: red;
	font-weight: bold;
	mc-auto-number-format: '{b}{color red}IMPORTANT: {/color}{/b}';
}

/*
.importantemphasis::before
{
	font-size: 10pt;
	font-weight: bold;
	color: red;
	font-family: Arial;
	content: "IMPORTANT: ";
}*/

ul.indent2
{
	margin-left: 60pt;
}

ul.indent1
{
	margin-left: 30pt;
}

.instrctnlemphasis
{
	font-style: italic;
}

.imgborder
{
	border: solid 2px #000000;
}

.column
{
	float: left;
	width: 50%;
}

/* Clear floats after the columns */

.row:after
{
	content: "";
	display: table;
	clear: both;
}

.alignleft
{
	float: left;
}

.alignright
{
	float: right;
}

p.manualtitle
{
	font-size: 68pt;
	font-weight: bold;
}

p.manualsystemname
{
	font-size: 34pt;
	font-weight: bold;
}

p.manualdate
{
	font-size: 16pt;
	font-weight: bold;
	color: #ffffff;
	text-align: right;
}

p.tocheader
{
	font-family: Arial;
	font-size: 28pt;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}

@media Manual
{
	p.TOC1
	{
		margin: 1.12em 0 1.12em 0em;
		margin-left: 0in;
	}

	p.TOC2
	{
		margin-left: .5in;
	}

	p.TOC3
	{
		margin-left: 1in;
	}

	p.TOC4
	{
		margin-left: 1.5in;
	}

	h1
	{
		color: #ffffff;
		font-size: 28;
		text-transform: uppercase;
	}

	h4
	{
		margin-top: 10pt;
	}

	li.notes
	{
		padding-bottom: .3pt;
		padding-left: 2.5em;
	}

	li.qrg
	{
		padding-left: 2.5em;
	}

	li.tutorial
	{
		padding-left: 2.5em;
	}

	ol
	{
		margin-left: 40px;
	}

	table
	{
		width: 100%;
	}

	.notes
	{
		padding-left: 2.5em;
	}

	.important
	{
		padding-left: 2.5em;
	}

	.caution
	{
		padding-left: 2.5em;
	}

	.importantemphasis
	{
		padding-left: 2.5em;
	}

	li.help
	{
		padding-left: 2.5em;
	}

	img.in-table-mini
	{
		max-height: 60%;
		max-width: 60%;
	}

	img.small-mini
	{
		max-height: 50%;
		max-width: 50%;
	}

	body
	{
		margin-left: 0px;
	}

	div.GlossaryPageDefinition
	{
		font-size: 10pt;
	}

	div.GlossaryPageTerm
	{
		font-size: 12pt;
	}

	p.workbooknotes
	{
		
	}
}

@media Workbook
{
	p.TOC1
	{
		margin: 1.12em 0 1.12em 0em;
		margin-left: 0in;
	}

	p.TOC2
	{
		margin-left: .5in;
	}

	p.TOC3
	{
		margin-left: 1in;
	}

	p.TOC4
	{
		margin-left: 1.5in;
	}

	h1
	{
		color: #ffffff;
		font-size: 16;
	}

	h4
	{
		margin-top: 10pt;
	}

	li.notes
	{
		padding-bottom: .3pt;
		padding-left: 2.5em;
	}

	li.qrg
	{
		padding-left: 2.5em;
	}

	li.tutorial
	{
		padding-left: 2.5em;
	}

	ol
	{
		margin-left: 40px;
	}

	table
	{
		width: 100%;
	}

	.notes
	{
		padding-left: 2.5em;
	}

	.important
	{
		padding-left: 2.5em;
	}

	.caution
	{
		padding-left: 2.5em;
	}

	.importantemphasis
	{
		padding-left: 2.5em;
	}

	li.help
	{
		padding-left: 2.5em;
	}

	img.in-table-mini
	{
		max-height: 60%;
		max-width: 60%;
	}

	img.small-mini
	{
		max-height: 50%;
		max-width: 50%;
	}

	body
	{
		margin-left: 0px;
	}

	div.GlossaryPageDefinition
	{
		font-size: 10pt;
	}

	div.GlossaryPageTerm
	{
		font-size: 12pt;
	}

	p.manualtitle
	{
		font-size: 68pt;
	}
}

p.workbookempty
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-style: italic;
	text-align: center;
	margin-top: 4.5in;
}

p.workbookminitocbody
{
	font-size: 20pt;
	font-weight: bold;
	padding-bottom: 10pt;
}

p.groupactivityheader
{
	text-transform: uppercase;
	font-size: 14pt;
	color: #ffffff;
	text-align: center;
}

p.workbookcopyright
{
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	padding-top: 4in;
}

p.workbooktitle
{
	font-size: 48pt;
	font-weight: bold;
	text-align: right;
}

p.workbooksubtitle
{
	font-size: 28pt;
	font-weight: bold;
}

p.objectivesagenda
{
	text-transform: uppercase;
	font-size: 14pt;
	color: #ffffff;
}

@media minibook
{
	h1
	{
		margin-top: 0;
		vertical-align: middle;
		margin-bottom: 0;
		color: #000000;
		font-size: 16pt;
		font-family: Arial;
		page-break-after: avoid;
		mc-heading-level: 1;
	}

	h3
	{
		margin-left: 0;
		page-break-after: avoid;
		margin-top: 10pt;
		mc-heading-level: 3;
	}

	h4
	{
		margin-bottom: 3pt;
		font-weight: bold;
		font-style: normal;
		margin-top: 10pt;
		margin-left: 30pt;
		mc-next-tag: p;
		mc-next-class: indent1;
		page-break-after: avoid;
		mc-heading-level: 4;
	}

	li.notes
	{
		padding-bottom: .3pt;
		padding-left: 2.5em;
	}

	li.qrg
	{
		padding-left: 2.5;
	}

	li.tutorial
	{
		padding-left: 2.5;
	}

	li.warning
	{
		
	}

	ul
	{
		margin-left: 25px;
		line-height: 0pt;
	}

	ol
	{
		line-height: 0pt;
		margin-left: 25px;
	}

	table
	{
		width: 100%;
	}

	.notes
	{
		padding-left: 2.5em;
	}

	.important
	{
		padding-left: 2.5em;
	}

	.caution
	{
		padding-left: 2.5em;
	}

	.importantemphasis
	{
		padding-left: 2.5em;
	}

	li.help
	{
		padding-left: 2.5;
	}

	li.caution
	{
		padding-left: 2.5em;
	}

	li.important
	{
		padding-left: 2.5em;
	}

	li.importantemphasis
	{
		padding-left: 2.5em;
	}

	img.in-table-mini
	{
		max-height: 60%;
		max-width: 60%;
	}

	img.small-mini
	{
		max-height: 50%;
		max-width: 50%;
	}

	h2
	{
		font-size: 14pt;
		page-break-after: avoid;
		margin-top: 10pt;
		mc_heading-level: inherit;
		mc-heading-level: 2;
	}

	h1.minibook
	{
		mc-heading-level: 0;
	}

	h2.minibook
	{
		mc-heading-level: 1;
	}

	h3.minibook
	{
		mc-heading-level: 2;
	}

	p.TOC1
	{
		font-size: 10pt;
		margin-left: -1in;
		mc-heading-format: 'inherit';
	}

	h4.minibook
	{
		mc-heading-level: 3;
	}

	h1.notoc
	{
		mc-heading-level: 0;
	}

	p.TOC2
	{
		font-size: 10pt;
		margin-left: -.75in;
	}

	p.TOC3
	{
		font-size: 10pt;
		margin-left: -.5in;
		font-style: italic;
	}

	p.TOC4
	{
		margin-left: -.25in;
	}

	p.TOC5
	{
		margin-left: 0in;
	}

	p.h0
	{
		mc_heading-level: 1;
	}

	h5
	{
		mc-heading-level: 5;
	}
}

@media Online
{
	h1.autonumberbook
	{
		mc-heading-level: 0;
	}

	p.h0	/*Tab*/
	{
		
	}
}

h1#Tab	/*Tab name for PTC Minibook*/
{
	color: #000000;
	font-family: Arial;
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: 3pt;
	margin-top: 12pt;
	mc-heading-format: 'inherit';
	mc-toc-depth: inherit;
}

